html {
    height: 100%;
}

body {
  background: linear-gradient(135deg, #e3a1ff 0%, #ffccd1 51%, #92d8ff 100%);
  font-family: Open Sans;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.product-filter {
  display: flex;
}

.product-filter h1 {
  flex-grow: 1;
  font-family: Megrim;
  font-size: 80px;
  margin: 0;
  text-shadow: 8px 8px 0px #33CEFF;
}

.sort {
  display: flex;
}

.collection-sort {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-info {
  margin-top: auto;
  text-align: center;
}

.product-card {
  flex-grow: 1;
  margin: 2%;
  flex-basis: 13%;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0.125rem 0.1875rem 0 rgba(0,0,0,.4);
}

.product-image img {
  max-width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer h1 {
  flex-grow: 1;
  font-family: Megrim;
  font-size: 22px;
  margin: 0;
  text-shadow: 2px 2px 0px #33CEFF;
}

.footer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #CE35FF;
  margin-top: 5px;
}
